# ===== BACKEND =====
backend/target/

# ===== PYTHON =====
parser-service/__pycache__/
parser-service/*.pyc
parser-service/venv/

# ===== FRONTEND =====
frontend/node_modules/
frontend/dist/
frontend/.vite/

# ===== LOGS / OS =====
*.log
.DS_Store